In [1]:
from IPython.core.display import display, HTML # full-width cells
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import data

For convenience we add some time-series functionality to our default data-storage object, `df`. This lets us down/upsample, format times for plotting purposes, sample specific periods/at certain frequencies, etc.

In [2]:
df = pd.read_csv('data/raw_cycles.csv', header=0).drop(index=[0])
df = df.apply(pd.to_numeric, errors='coerce')
df['Datetime'] = pd.to_datetime(df['Time'], unit='s')
#df.index = df['Datetime']; del df['Datetime']

### Minima,  maxima
Extrema are one-hot encoded categorical variables; cycles begin at a minimum, change direction at a maximum, and end at the following minimum.

In [3]:
from scipy.signal import argrelextrema as extrema
from sklearn.preprocessing import LabelBinarizer

In [4]:
order = 100
minima = extrema(df['Load'].values, comparator=np.less, order=order)[0].tolist()
maxima = extrema(df['Load'].values, comparator=np.greater, order=order)[0].tolist()
df['Min'] = 0; df['Min'].iloc[minima] = 1
df['Max'] = 0; df['Max'].iloc[maxima] = 1

/home/nwchen/.local/lib/python3.5/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Cycle labels
Cycles begin and end at consecutive minima. Cycles are labeled at the time marking their beginning, i.e. at the first minima, up to and excluding the next minima.

In [5]:
col = np.empty((df.shape[0],), dtype=int); col[:] = np.nan
for i in range(1, len(minima)):
    col[minima[i-1]:minima[i]] = i
df = df.assign(Cycle=pd.Series(col, index=df.index))

### Area under curve
Areas are either a `float` or `NaN`. Since each cycle has one area value, that value lives in the same row as the `Min` at which the cycle began.

In [6]:
# This generator function keeps track of state, and lets us iterate through values in a lambda expression.
def gen_index():
    length = len(df[df['Min']==1])
    for i in range(length):
        yield i

In [7]:
areas = np.zeros((df.Cycle.max(),))
for cycle in range(df.Cycle.max()):
    cycle_load = df[df.Cycle==cycle].Load.as_matrix()
    cycle_time = df[df.Cycle==cycle].Time.as_matrix()
    areas[cycle] = np.trapz(cycle_load, cycle_time)
areas = areas.tolist(); areas.append(0)

In [8]:
gen = gen_index()
df['Area'] = df[df['Min']==1].apply(lambda row: areas[next(gen)], axis=1)

### Heating and cooling time

In [9]:
heatings = np.zeros((df.Cycle.max(),)) # curve_max - curve_min
for cycle in range(1, df.Cycle.max()):
    h_0 = df.loc[(df['Cycle']==cycle) & (df['Min']==1)]['Time'].values[0]
    h_1 = df.loc[(df['Cycle']==cycle) & (df['Max']==1)]['Time'].values[0]
    heatings[cycle] = h_1 - h_0
heatings = heatings.tolist(); heatings.append(0)

In [10]:
gen = gen_index()
df['Heating'] = df[df['Min']==1].apply(lambda row: heatings[next(gen)], axis=1)

In [11]:
coolings = np.zeros((df.Cycle.max(),)) # curve_max - curve_min
for cycle in range(1, df.Cycle.max()):
    c_0 = df.loc[(df['Cycle']==cycle) & (df['Max']==1)]['Time'].values[0]
    c_1 = df.loc[df['Cycle']==cycle].iloc[-1]['Time']
    coolings[cycle] = c_1 - c_0
coolings = coolings.tolist(); coolings.append(0)

In [12]:
gen = gen_index()
df['Cooling'] = df[df['Min']==1].apply(lambda row: coolings[next(gen)], axis=1)

### Cycle period
This feature is linearly dependent on `heating time` and `cooling time`, but we include it for visualisation/debugging purposes.

In [13]:
df['Period'] = df[df['Min']==1].apply(lambda row: row['Heating']+row['Cooling'], axis=1)

### 10% Load Time
The length of the period over which `Load` is less than 10% of the max load of the cycle. We normalize max load to cycle `max - min`.

In [29]:
tails = np.zeros((df.Cycle.max(),))
for cycle in range(1, df.Cycle.max()):
    maximum = df.loc[(df['Cycle']==cycle) & (df['Max']==1)]['Load'].values[0]
    minimum = df.loc[(df['Cycle']==cycle) & (df['Min']==1)]['Load'].values[0]
    tenp = 0.1 * (maximum - minimum)
    t_0 = df.loc[(df['Cycle']==cycle) & (df['Load']<(tenp+minimum))]['Time'].values[0]
    t_1 = df.loc[df['Cycle']==cycle].iloc[-1]['Time']
    tails[cycle] = t_1 - t_0
tails = tails.tolist(); tails.append(0)

In [27]:
gen = gen_index()
df['Tail'] = df[df['Min']==1].apply(lambda row: tails[next(gen)], axis=1)

In [28]:
df[df['Min']==1]

,Time,Load,Datetime,Min,Max,Cycle,Area,Heating,Cooling,Period,Tail
19,1.70000,-0.10153,1970-01-01 00:00:01.700000,1,0,1,0.000000,0.00000,0.00000,0.00000,0.00000
2677,262.30000,-0.09963,1970-01-01 00:04:22.300000,1,0,2,7194.644662,85.80000,174.69997,260.49997,260.49997
5845,573.89994,0.00872,1970-01-01 00:09:33.899940,1,0,3,8131.923440,58.50000,253.00000,311.50000,311.50000
9225,906.69994,-0.05600,1970-01-01 00:15:06.699940,1,0,4,8249.843636,63.00000,269.70006,332.70006,332.70006
12529,1231.90000,-0.00150,1970-01-01 00:20:31.900000,1,0,5,8198.216090,60.90006,264.19988,325.09994,325.09994
15819,1555.70000,0.02537,1970-01-01 00:25:55.700000,1,0,6,8274.709155,58.00000,265.70000,323.70000,323.70000
18955,1864.00000,-0.61840,1970-01-01 00:31:04.000000,1,0,7,8155.613543,56.69988,251.56487,308.26475,308.26475
22059,2169.09975,-0.09700,1970-01-01 00:36:09.099750,1,0,8,8190.082791,59.50000,245.50000,305.00000,305.00000
25200,2478.00000,-0.21602,1970-01-01 00:41:18.000000,1,0,9,8269.753392,58.10025,250.70000,308.80025,308.80025
28180,2770.80000,0.04363,1970-01-01 00:46:10.800000,1,0,10,8007.463053,60.30000,232.40000,292.70000,292.70000
31192,3066.79975,-0.02033,1970-01-01 00:51:06.799750,1,0,11,8066.478324,60.90000,235.00000,295.90000,295.90000
34186,3361.00000,-0.01246,1970-01-01 00:56:01.000000,1,0,12,8136.525717,57.00000,237.10025,294.10025,294.10025
37210,3658.20000,-0.04402,1970-01-01 01:00:58.200000,1,0,13,8293.308727,57.59975,239.50000,297.09975,297.09975
40229,3954.90000,-0.05755,1970-01-01 01:05:54.900000,1,0,14,8267.632696,57.59975,239.00000,296.59975,296.59975
43200,4246.80000,-0.00377,1970-01-01 01:10:46.800000,1,0,15,8338.398207,59.60000,232.19950,291.79950,291.79950
46187,4540.30000,-0.02836,1970-01-01 01:15:40.300000,1,0,16,8392.762359,59.00000,234.39950,293.39950,293.39950
49183,4834.69950,0.00261,1970-01-01 01:20:34.699500,1,0,17,8565.798953,58.89950,235.40050,294.30000,294.30000
52217,5133.10000,-0.03468,1970-01-01 01:25:33.100000,1,0,18,8550.860167,62.20050,236.10000,298.30050,298.30050
55277,5433.90000,-0.01581,1970-01-01 01:30:33.900000,1,0,19,8688.967494,61.00000,239.70000,300.70000,300.70000
58312,5732.40000,0.02214,1970-01-01 01:35:32.400000,1,0,20,8802.766138,62.79950,235.60050,298.40000,298.40000
61308,6027.00000,-0.02541,1970-01-01 01:40:27.000000,1,0,21,8750.252690,65.20000,229.30000,294.50000,294.50000
64404,6331.40000,-0.09927,1970-01-01 01:45:31.400000,1,0,22,9037.104117,64.09950,240.20050,304.30000,304.30000
67500,6636.00000,-0.06500,1970-01-01 01:50:36.000000,1,0,23,9009.141579,66.69950,237.80050,304.50000,304.50000
70683,6949.30000,-0.09192,1970-01-01 01:55:49.300000,1,0,24,9193.566074,68.69950,244.50000,313.19950,313.19950
73845,7260.50000,-0.12962,1970-01-01 02:01:00.500000,1,0,25,9312.410442,70.39950,240.70050,311.10000,311.10000
77046,7575.59950,-0.05052,1970-01-01 02:06:15.599500,1,0,26,9460.614919,70.69950,244.30050,315.00000,315.00000
80352,7901.19950,-0.26667,1970-01-01 02:11:41.199500,1,0,27,9873.156165,74.00000,251.50000,325.50000,325.50000
83560,8216.80000,-0.11929,1970-01-01 02:16:56.800000,1,0,28,9998.853951,80.70050,234.80000,315.50050,315.50050
86727,8528.50000,-0.12912,1970-01-01 02:22:08.500000,1,0,29,10191.176041,76.20000,235.39900,311.59900,311.59900
90012,8852.00000,-0.23114,1970-01-01 02:27:32.000000,1,0,30,10624.001519,81.10000,242.29900,323.39900,323.39900
93327,9178.50000,-0.15966,1970-01-01 02:32:58.500000,1,0,31,10904.961963,85.20000,241.19900,326.39900,326.39900
96734,9514.20000,-0.19814,1970-01-01 02:38:34.200000,1,0,32,11318.393232,87.60000,248.00000,335.60000,335.60000
100263,9862.10000,-0.25141,1970-01-01 02:44:22.100000,1,0,33,11822.975461,92.50000,255.30000,347.80000,347.80000
103854,10216.20000,-0.14552,1970-01-01 02:50:16.200000,1,0,34,12284.375396,96.29900,257.70100,354.00000,354.00000
107646,10590.39900,-0.52420,1970-01-01 02:56:30.399000,1,0,35,12980.570977,103.10000,271.00000,374.10000,374.10000
111460,10966.80000,-0.19985,1970-01-01 03:02:46.800000,1,0,36,13405.546677,107.20100,269.10000,376.30100,376.30100
115518,11367.60000,-0.21749,1970-01-01 03:09:27.600000,1,0,37,14298.189834,112.90000,287.80000,400.70000,400.70000
119761,11786.89900,-0.15340,1970-01-01 03:16:26.899000,1,0,38,15074.571499,118.40000,300.80000,419.20000,419.20000
124243,12230.10000,-0.10545,1970-01-01 03:23:50.100000,1,0,39,16207.578642,130.40100,312.70000,443.10100,443.10100
128930,12693.80000,-0.22940,1970-01-01 03:31:33.800000,1,0,40,17166.368318,135.50000,328.09900,463.59900,463.59900
133645,13160.30000,-0.30063,1970-01-01 03:39:20.300000,1,0,41,17857.024900,141.20000,325.19900,466.39900,466.39900
138519,13642.69900,-0.13799,1970-01-01 03:47:22.699000,1,0,42,19082.567544,149.00000,333.30000,482.30000,482.30000
143407,14126.50000,-0.27115,1970-01-01 03:55:26.500000,1,0,43,19700.960107,159.60100,324.09900,483.70000,483.70000
148599,14640.69900,-0.28027,1970-01-01 04:04:00.699000,1,0,44,21456.289972,168.30000,345.80000,514.10000,514.10000
153892,15165.00000,-0.26609,1970-01-01 04:12:45.000000,1,0,45,22500.988576,174.40100,349.79900,524.20000,524.20000
159222,15693.00000,-0.29362,1970-01-01 04:21:33.000000,1,0,46,23409.100107,178.19900,349.70000,527.89900,527.89900
164636,16229.39900,-0.37178,1970-01-01 04:30:29.399000,1,0,47,24050.880084,187.30000,349.00000,536.30000,536.30000
170018,16762.60000,-0.33731,1970-01-01 04:39:22.600000,1,0,-9223372036854775808,0.000000,0.00000,0.00000,0.00000,0.00000

TODO: area under curve, heating time, cooling time, time of entire curve, time where <10% of force, belly of curve, heating time vs. entire cyle time, heating/cooling proportion wrt first curve